process {
	withName: multiqc {
	    container = "/mnt/beegfs/kimj32/singularity/multiqc.sif"
	}
    withName: samtools_index {
	    container = "/mnt/beegfs/kimj32/singularity/samtools-1.17--hd87286a_1.sif"
	}
	//withName: star {
	//    container = "/mnt/beegfs/kimj32/singularity/star-2.7.10a--h9ee0642_0.sif"
	//}
}