params {
	genome = "human"
	samplesheet = "${launchDir}/samplesheet.csv"
}

params.run_salmon = true
params.run_tpm_calculator = false
params.run_ribodetector = false
params.run_kraken2 = false
params.run_preseq = false  // TODO: preseq throws errors, needs investigation

includeConfig 'cluster.config'
includeConfig 'processes.config'
includeConfig 'reference.config'