params.ref_fa = [
		hg38: "/mnt/beegfs/kimj32/reference/human/gencode/GRCh38.p13/indexes/star",
		mm10: "/mnt/beegfs/kimj32/reference/mouse/gencode/GRCm38.p6/indexes/star",
		z_fish: "/mnt/beegfs/kimj32/reference/zebrafish/ensembl/release_109/sequence/Danio_rerio.GRCz11.dna.primary_assembly.fa",
		pig: "/mnt/beegfs/kimj32/reference/pig/ensembl/release_109/sequence/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa"
	]

params.gtf = [
		hg38: "/mnt/beegfs/kimj32/reference/human/gencode/GRCh38.p13/annotation/gencode.v43.annotation.gtf",
		mm10: '/mnt/beegfs/kimj32/reference/mouse/gencode/GRCm38.p6/annotation/gencode.vM25.annotation.gtf',
		z_fish: "/mnt/beegfs/kimj32/reference/zebrafish/ensembl/release_109/annotation/Danio_rerio.GRCz11.109.gtf",
		pig: "/mnt/beegfs/kimj32/reference/pig/ensembl/release_109/annotation/Sus_scrofa.Sscrofa11.1.109.gtf"
	]

params.star_index = [
        hg38: "/mnt/beegfs/kimj32/reference/human/gencode/GRCh38.p13/indexes/star",
        mm10: "/mnt/beegfs/kimj32/reference/mouse/gencode/GRCm38.p6/indexes/star",
        z_fish: "/mnt/beegfs/kimj32/reference/zebrafish/ensembl/release_109/indexes/star",
	    pig: "/mnt/beegfs/kimj32/reference/pig/ensembl/release_109/indexes/star"
]

params.salmon_index = [
        pig: "/home/kimj32/beegfs/reference/pig/ensembl/release_109/indexes/salmon"
]

params.fastq_screen_conf = "/mnt/beegfs/kimj32/polymerase/polymeraseDependencies/FastQ_Screen_Genomes/fastq_screen.conf"